<?xml version="1.0"?>
<launch>
    <!-- Load parameters -->
    <rosparam command="load" file="$(find tag_listener)/config/params.yaml" />

    <!-- docking station tag tf listener -->
    <node pkg="tag_listener" type="tag_listener" name="tag_listener" output="screen" respawn="true">
    </node>

</launch>